{% extends 'bootstrap/base.html' %}

{% block title %}Add Post {% endblock %}


{% block content %}

<form action="/addpost/{{user.id}}" method="post">
    <div>
        <label>Title:</label>
        <input type="text" name="title" required />
    </div>
    <div>
    <label>Content:</label>
    <input type="text" name="content" required />
    </div>
    {% for tag in tags %}
        <div>
            <label>{{tag.name}}</label>
            <input type="checkbox" value="{{tag.id}}" name="tag" />
        </div>
    {% endfor %}
    <button type="submit">add</button>
</form>
    <a href="/{{user.id}}"><button>cancel</button></a>

{% endblock %}